body {
	margin: 0;
	padding-bottom: 3rem;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	color: #474747;
	width: 10%;
}

th,
td {
	padding: 10px 15px;
	vertical-align: middle;
}

thead {
	background: #474747;
	color: #fff;
	font-size: 1em;
}

tbody tr:nth-child(even) {
	background: #f0f0f2;
}

td {
	border-bottom: 1px solid #111111;
	border-right: 1px solid #111111;
}

td:first-child {
	border-left: 1px solid #111111;
}

td:nth-child(2) {
	font-weight: bold;
}

#widget {
	border: 1px solid black;
}

#markerbounds {
	margin: auto;
	position: relative;
}

#box {
	margin: auto;
	background-color: lightsteelblue;
	position: absolute;
}

#marker {
	position: relative;
	background-color: brown;
	border-radius: 100px;
}

#coord {
	font-family: serif;
	font-size: 14px;
	margin: 0px;
}
